doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Instagram Clone Email
  body
    header 
      h1 Instagram Clone

    main
      block content

    footer
      p
        | If you have any questions or need assistance, please contact us at
        a(href='mailto:instagram-clone@example.com') instagram-clone@example.com

      p
        | You are receiving this email because you signed up on the Instagram Clone
        a(href='https://www.instagram-clone-example.com') www.instagram-clone-example.com.
