extends emailTemplate

block content
  p Hi #{username},

  p We received a request to reset your password on your Instaphoto account. If you did not initiate this request, please ignore this email.

  p To reset your password, click on the link below:

  p
    a(href=`${url}`) Reset Password

  p If the link doesn't work, you can copy and paste the following URL into your browser:

  p #{url}

  p This link will expire in 10 minutes for security reasons.
